

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap');


 body {
            font-family: 'Lexend', sans-serif;
             min-height: max(884px, 100dvh);
        }

.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }

  